body{color: #434455;background-color:#FFFFFF;
font-family: "Roboto", sans-serif; 
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 2.24;
letter-spacing: 0.02em;}

.link {text-decoration: none;}
.list {list-style-type: none;}


.header-logo {
color:#4D5AE5;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}

.span-logo {
color:#2E2F42;}

.header-menu-link {
font-family:"Roboto",sans-serif;
color:#2E2F42 ;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;}

.header-menu-link:hover,
.header-menu-link:focus
{color:#404bbf;}


.address-mailtel-link {
font-size: 16px;
color:#434455;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em}

.hero-section{
background-color: #2E2F42;}

.hero-title{color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;}

.hero-title-btn{
font-family: "Roboto", sans-serif;
color:#FFF; 
background-color:#4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
 letter-spacing: 0.04em;
 cursor: pointer;
}

.feature-section{color:#434455;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}

.feature-link{color:#2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}

.team-section{color: #F4F4FD;
    background-color: #FFFFFF;}

.team-title{color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;}

.team-man{color:#2E2F42;
/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}

.team-text{color:#434455;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}

.rezume-section{ background-color: #F4F4FD;}
.rezume-title{color:#2E2F42;
background-color: #FFFFFF;
text-align: center;
/* Header 2 */
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;}

.rezume-link{color: #2E2F42;background-color: #FFFFFF;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}

.rezume-text{color:#434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;}

.footer{color:#f4f4fd; 
background-color:#2E2F42;}

.footer-logo{
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}

.span-footer-logo{color:#F4F4FD;}


.footer-text
{color:#f4f4fd;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}